.evo {
    font-size: 14px;
    margin-bottom: 100px;
}

.evo-black {
    background-color: var(--Color);
    padding: 100px 0 50px;
    color: white;
}

.evo-black__inner {
    position: relative;
}

.evo-black__inner::before {
    content: '';
    background-image: url(/img/dec\ 1.svg);
    position: absolute;
    width: 185px;
    height: 213px;
    top: 210px;
    left: -130px;
}

.evo-black__inner::after {
    content: '';
    background-image: url(/img/dec\ 2.svg);
    position: absolute;
    width: 498px;
    height: 572px;
    top: 290px;
    left: -40px;
}

.evo-block__info {
    display: flex;
    justify-content: space-between;
}

.evo-black__title {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 300;
    padding-right: 50px;
}

.evo-black__infobox {
    flex-basis: 437px;
}

.evo-black__text {
    font-size: 14px;
    margin-bottom: 30px;
}

.evo-black__img {
    display: block;
    margin: 170px auto 60px;
    z-index: 1;
    position: relative;
}

.evo-white__inner {
    padding-top: 185px;
    position: relative;
}

.evo-white__inner::before {
    content: '';
    position: absolute;
    width: 185px;
    height: 213px;
    top: -40px;
    left: 368px;
}

.evo-white__inner::after {
    content: '';
    position: absolute;
    width: 185px;
    height: 213px;
    top: 210px;
    left: -130px;
}

.evo-white__text {
    margin-bottom: 30px;
}

.evo-white__text:first-child {
    max-width: 285px;
}

.evo-white__text:nth-child(2) {
    max-width: 437px;
}

.evo-white__text:nth-child(3) {
    max-width: 590px;
}

.evo-white__video {
    margin-top: 100px;
    background-image: url(/img/evo__dark.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 264px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-left: 420px;
}

.evo-white__video-link span {
    display: block;
    color: white;
}