.menu-list {
    display: flex;
    gap: 0 40px;
    padding-top: 20px;
}

.menu-list {
    padding-left: 25px;
}

.menu-item {
    list-style-type: none;
}

.menu-link {
    color: var(--Color);
    font-size: 16px;
}

.menu-right {
    padding-right: 80px;
}

.menu-mobile,
.menu-btn {
    display: none;

}
