.header {
    padding-top: 25px;
    position: absolute;
    left: 0;
    right: 0;
    margin-right: 50px;
}

.big-container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.container {
    max-width: 920px;
    padding: 0 10px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.promo {
    background-image: url(/img/Обложка.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.promo__inner {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    padding-top: 100px;
}

.title {
    font-family: 'Roboto Condensed', ;
    font-weight: 700;
    font-size: 76px;
}

.subtitle {
    font-family: 'Roboto Condensed', ;
    font-weight: 400;
    font-size: 48px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    font-weight: 700;
    align-self: center;
}

.subtitle span {
    font-size: 34px;
    display: block;
    color: #9f6b08;
    padding: 10px 0;
}

.promo__text {
    font-size: 16px;
    color: var(--Color);
    margin-bottom: 10px;
}

.promo__arrow {
    margin-top: auto;
    margin-bottom: 30px;
    align-self: center;

}

.descr-list {
    display: flex;
    justify-content: center;
    gap: 0 65px;
}

.descr-list dd {
    text-transform: uppercase;

}
.swiper-button-left {
    transform: translateX(-41px);
}

.swiper-button-right {
    transform: translateX(8px);

}



